#styleFooter{
    display: none;
} 

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    background-image:url("Img/League-of-Legends-Grieta.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    
}

.allData{
    padding-top: 50px;
}

.columns{
    display: flex;
    justify-content: space-around;
    flex-flow:row;
    text-align: center;
    padding: 30px 10px;
    width: 100%;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgba(44, 66, 104, 0.58);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: 100%;
    margin: 0px 30px;
    padding: 0px 0px 30px 0px;
}

#one-container{
    justify-content: space-evenly; 
    float:left; 
    margin: 0 1rem;
    width: 20%; 
    height:100%; 
    overflow: hidden;
}

.img-container{
    width: 100%; 
    height: 100%; 
    text-align: center; 
    margin-right: 0%;
}

#description{
    background-color: #0F474A; 
    color: #FFFDFD; 
    font-family: 'Pirata One'; 
    font-size: 2em; 
    text-align: center; 
    margin: 0 0; 
    width: 100%
}

h4{
    text-align: center;
}

.filters {
    width: 20%;
    height: 100%;
    border: 1px solid white;
    margin-left: 20px;
}

aside .cards-container{
   display: flex;
   justify-content: center;
   align-items: center;
}

.title{
    width: 100%;
    height: 30%;
    justify-content: center;
}

.meetChampions{
    font-family: Righteous;
    font-weight: bold;
    font-size: 3.5em;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.numChampions{
    background: rgba(44, 66, 104, 0.58);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: #FFFCFC;
    margin: 0px 300px;
    width: 75%;
    height: 40%;
}


.styleImg{
    width: 7rem;
    height: 7rem;
}

#homepage{
    height: 100vh;
}

h1{
    font-family: 'Pirata One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 130px;
    text-align: center;
    color: #D49220;
    margin: 0px 300px 0px;
    -webkit-text-stroke: 2px black;
}

p{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #FFFCFC;
    margin: 0px 300px;
}
.buttonStart{
    font-family: 'Righteous', cursive; 
    display:block;
    margin: auto;
    padding: 15px;
    min-width: 150px;
    font-size: 14px;
    font-weight: 900;
    color:black;
    background-color: #29A8C3;;
    border: 0px;
}
.buttonStart:hover{
    transition:all 0.6s ease;
    box-shadow: 0px 0px 10px 4px rgba(255, 195, 0, 0.5), 0 0 20px rgba(255, 195, 0, 0.4);
    text-shadow:0px 0px 20px 5px #F0C41A;
    transform: scale(1.1);
}

header, footer{
    background-color: #0D1618;
    color: white;
    text-decoration: none;
    font-family: "Righteous";
    height: 60px;    
}

#styleFooter{
    bottom: 0;
    width: 100%;
    position: fixed;
} 

li{
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
}

#footer{
    text-align: center;
    font-size: small;
}

img{
    display: table-cell;
    vertical-align: middle;
    margin-top: 15px;
}



